<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>RPi Carousel Manager</title>
  </head>
  <body class="dark-mode">
    <header>
      <nav>
        <div id="logo">
          <img
            src="{{ url_for('static', filename='dependencies/images/header_logo.png')}}"
            alt=""
          />
        </div>

        <div id="links">
          <ul>
            <li><a href="">QUID</a></li>
            <li><a href="">PRO</a></li>
            <li><a href="">QUO</a></li>
          </ul>
        </div>

        <div id="theme">
          <img
            id="theme-button"
            data-light-src="{{ url_for('static', filename='dependencies/images/light_mode.png') }}"
            data-dark-src="{{ url_for('static', filename='dependencies/images/dark_mode.png') }}"
            src="{{ url_for('static', filename='dependencies/images/light_mode.png') }}"
            alt="theme button"
          />
        </div>
      </nav>
    </header>

    <div id="file-upload-container">
      <h1>RPi Carousel Manager</h1>

      <form
        action="/upload"
        enctype="multipart/form-data"
        method="post"
        id="upload-form"
      >
        <div id="file-upload-container-buttons">
          <span id="selector-button">
            <label for="image" id="file-selector-button">Choose File</label>
            <input
              type="file"
              name="file"
              id="image"
              accept="image/*"
              required
            />
          </span>

          <span id="file-upload-button">
            <button>Upload</button>
          </span>
        </div>
      </form>

      <p id="upload-status"></p>
    </div>

    <div id="files-container">
      <p>No Files Uploaded</p>
    </div>
  </body>

  <script src="{{url_for('static', filename='script.js')}}"></script>
</html>
