<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>RPi Carousel Manager</title>
  </head>
  <body class="light-mode">
    <div id="file-upload-container">
      <h1>RPi Carousel Manager</h1>

      <form action="/upload" enctype="multipart/form-data" method="post" id="upload-form">
        <label for="image">Choose File</label>
        <input type="file" name="file" id="image" accept="image/*" required />
        <button id="file-upload-button">Upload</button>
      </form>
      <p id="upload-status"></p>
    </div>

    <div id="display-mode-container">
      <button>
        <img
          id="display-mode-button"
          src="https://www.freeiconspng.com/thumbs/up-arrow-png/black-up-arrow-png-22.png"
          alt="Dark mode enable/disable"
        />
      </button>
    </div>
  </body>

  <script src="{{url_for('static', filename='script.js')}}"></script>
</html>
